@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");

// Custom Properties CSS
// Variables definition
$font-main: "Bangers",
cursive;
$font-text: "Montserrat",
sans-serif;
$main-color                 : #eceae4;
$btn-color                  : #4caf50;
$btn-border-radius          : 1.5rem;
$nav-font-color             : white;
$gallery-overlay-color      : #008cba;
$circle-border-radius       : 50%;
$header-background-color    : gray;
$footer-background-color    : gray;
$footer-color               : white;
// Variables for screen size control
$mobile_breakpoint          : 576px;
$tablet_breakpoint          : 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint         : 1200px;
$desktop_xl_breakpoint      : 1600px;

@mixin project-img {
    max-width          : 100%;
    border             : 1px solid black;
    margin             : auto;
    transition-duration: 0.4s;
}

@mixin arrow-leftright-animation {
    animation                : leftright 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@mixin card {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

@mixin button {
    font-family        : $font-main;
    font-size          : 1rem;
    display            : flex;
    flex-direction     : row;
    justify-content    : center;
    align-items        : center;
    margin             : 2rem auto;
    width              : fit-content;
    border-radius      : $btn-border-radius;
    border             : 2px solid black;
    background-color   : $btn-color;
    box-shadow         : 0.3rem 0.3rem 0.3rem 0 #000;
    transition-duration: 0.3s;

    @include mobile {
        font-size : unset;
        margin    : 1rem auto;
        box-shadow: 0.1rem 0.1rem 0.1rem 0 #000;
    }
}

// Mixin for media query

@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

a {
    text-decoration: none;
    color          : inherit;
}

.section {
    padding         : 20px;
    background-color: $main-color;

    @include mobile {
        padding: 10px;
    }
}

.header {
    background-color: $header-background-color;
    border          : 2px solid black;
    padding         : 20px;
    margin          : 40px;
}

.main {
    &__div {
        width : 95%;
        margin: auto;

        @include tablet {
            width: 100%;
        }
    }

    &__font {
        font-family: $font-main;
    }
}

.nav {
    color           : $nav-font-color;
    background-color: $header-background-color;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    flex-wrap       : wrap;

    &__logo {
        border-radius      : $circle-border-radius;
        max-height         : 5rem;
        margin-right       : 2rem;
        transition-duration: 0.2s;
        box-shadow         : 0.3rem 0.3rem 0.3rem 0 #000;

        @include mobile {
            max-height: 3rem;
        }
    }

    &__logo:hover {
        transform: scale(120%) translate(-0.5rem, -0.25rem);
    }

    &__title {
        text-align         : center;
        transition-duration: 0.2s;
        text-shadow        : 0.3rem 0.3rem 0.3rem #000;

        @include mobile {
            font-size: 1.5rem;
        }
    }

    &__title:hover {
        transform: scale(105%);
    }

    &__ul {
        display        : flex;
        justify-content: right;
        align-items    : center;
        list-style-type: none;
    }

    &__ul>li {
        border             : none;
        padding            : 0.8rem 1.6rem;
        border-radius      : $btn-border-radius;
        background-color   : $btn-color;
        box-shadow         : 0.3rem 0.3rem 0.3rem 0 #000;
        width              : 5rem;
        text-align         : center;
        text-decoration    : none;
        display            : inline-block;
        transition-duration: 0.3s;
        margin             : 0.25rem 1.25rem 0.25rem 0.15rem;
        cursor             : pointer;

        @include mobile {
            padding: 0;
        }
    }

    &__ul>li:hover {
        transform: scale(115%);
    }

    &__left {
        display    : flex;
        align-items: center;
        margin     : auto;
        font-size  : 2.5rem;
    }

    &__right {
        display        : flex;
        justify-content: right;
        align-items    : center;
        height         : 80px;
        margin-right   : 15px;
    }

    &__cool-border {
        position: relative;
    }

    &__cool-border::after {
        content         : "";
        display         : block;
        height          : 7px;
        background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
        position        : absolute;
        top             : calc(100% + 5px);
        left            : 50%;
        width           : 45%;
        transform       : translateX(-50%) skew(-50deg);
        box-shadow      : 0.3rem 0.3rem 0.3rem 0 #000;
    }
}

.portfolio {

    &__img {
        @include project-img;
        width: 50%;

        @include mobile {
            width : 95%;
            margin: 0.3rem 0;
        }
    }

    &__card {
        background-color: white;
        border          : 0.2rem solid black;
        border-radius   : 1rem;
        display         : flex;
        flex-direction  : column;
        padding         : 1rem;
        width           : 50%;

        @include mobile {
            padding: 0.5rem;
            width  : 95%;
            margin : 0.3rem 0;
        }
    }

    &__table {
        font-family: $font-text;
        text-align : left;
        font-size  : 0.8rem;
        margin-top : 0.5rem;
        border     : 1px solid black;
    }
}

.footer {
    position        : relative;
    display         : flex;
    justify-content : center;
    padding         : 1%;
    margin          : auto;
    background      : transparent;
    background-color: $footer-background-color;
    color           : $footer-color;

    &__link_group {
        display        : flex;
        flex-direction : column;
        flex-wrap      : nowrap;
        justify-content: space-between;
        margin         : auto;
    }

    &__link {
        display            : inline-block;
        margin             : 10%;
        transition-duration: 0.2s;
    }

    &__link:hover {
        transform: scale(125%);
    }

    &__text {
        display  : block;
        font-size: 1.5rem;
        margin   : auto;

        @include mobile {
            font-size: unset;
        }
    }

    &__logo {
        margin-right: 10px;
    }

    &__logo-img {
        width              : 8%;
        max-width          : 3.2rem;
        border-radius      : $circle-border-radius;
        margin-top         : 0.62rem;
        transition-duration: 0.2s;
    }

    &__logo-img:hover {
        transform: scale(120%);
    }

}

.btn {
    @include button;
    padding: 0.8rem 1.6rem;
    display: inline;

    @include mobile {
        padding: 0;
    }

    &:hover {
        transform: scale(115%);
    }
}

.btn-portfolio {
    @include button;
    padding: 0 1rem 0 2rem;

    @include mobile {
        padding: 0 0 0 0.5rem;
    }

    &:hover {
        transform: scale(115%);
    }

    &:hover .arrow-left {
        animation                : leftright 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

.text {
    font-family: $font-text;

    @include mobile {
        font-size: unset;
    }
}

.title {
    display  : block;
    font-size: 2rem;
    margin   : 2rem auto;

    @include mobile {
        font-size: unset;
    }
}

.bg-img {
    background-image   : url("https://cdn.pixabay.com/photo/2016/11/21/17/59/blackboard-1846865_960_720.jpg");
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.img {
    max-width    : 80%;
    width        : auto;
    border-radius: 5%;
    border       : 0.6rem solid black;

    &:hover {
        animation                : shake 0.5s;
        animation-iteration-count: infinite;
    }
}

.avatar {
    max-width: 50%;

    &:hover {
        filter   : blur(2px);
        cursor   : no-drop;
        transform: scale(110%);
    }
}

.container {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.card {
    @include card;

    &--medium {
        @include card;
        width: 50%;

        @include mobile {
            width: 100%;
        }
    }

    &--medium-70 {
        @include card;
        width: 70%;

        @include mobile {
            width: 100%;
        }
    }
}

.card-flex-center {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    @include mobile {
        flex-direction: column;
    }
}

.card-flex-space-around {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : center;
}

.card-centered {
    text-align : center;
    align-items: center;

    p {
        margin: auto;
    }
}

.card-text {
    font-size : 2.5rem;
    margin    : 15%;
    text-align: center;

    @include mobile {
        font-size: unset;
    }
}

.line-bottom {
    margin-bottom : 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom : 0.3rem solid black;
}

.slot-space {
    margin: 2% 0;

    &+.card {
        margin: 5% 0;
    }
}


.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.margin-auto {
    margin: auto;
}

.animat-transl-right-25 {
    transition-duration: 0.4s;

    &:hover {
        transform: translate(25%, 0%);
    }
}

.animat-transl-left-25 {
    transition-duration: 0.4s;

    &:hover {
        transform: translate(-25%, 0%);
    }
}

.arrow-up {
    width     : 100%;
    max-width : 50px;
    position  : sticky;
    margin-top: 10px;

    @include mobile {
        width: 0%;
    }

    &:hover {
        animation                : updown 0.5s;
        animation-iteration-count: infinite;
    }
}

.floating {
    animation-name           : bounce;
    animation-duration       : 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.arrow-right {
    width: 3rem;

    &:hover {
        @include arrow-leftright-animation;
    }
}

.arrow-left {
    width    : 3rem;
    transform: scaleX(-1);

    &:hover {
        @include arrow-leftright-animation;
    }
}

.img-link {
    border-radius   : 1.5rem;
    padding         : 0.1rem 1rem;
    width           : fit-content;
    border          : 0.2rem solid black;
    margin          : 1rem;
    background-color: white;
}

.gallery {
    position: relative;

    &__overlay {
        position        : absolute;
        bottom          : 100%;
        left            : 0;
        right           : 0;
        background-color: $gallery-overlay-color;
        overflow        : hidden;
        width           : 100%;
        height          : 0;
        transition      : 0.4s ease;
        opacity         : 0.8;
        z-index         : 8;
    }

    &__text {
        color       : white;
        font-size   : 1.2rem;
        position    : absolute;
        overflow    : hidden;
        top         : 50%;
        left        : 50%;
        transform   : translate(-50%, -50%);
        opacity     : 0;
        transition  : 0.5s ease;
        z-index     : 9;
        width       : fit-content;
        max-width   : 90%;
        margin-right: auto;
        margin-left : auto;

        @include mobile {
            font-size: unset;
        }
    }

    &__title {
        color           : black;
        position        : absolute;
        top             : 1rem;
        left            : 1rem;
        font-size       : 1.5rem;
        z-index         : 9;
        transition      : 0.5s ease;
        background-color: white;
        padding         : 0 2%;
        border-radius   : 5%;

        @include mobile {
            top      : 0rem;
            left     : 0rem;
            font-size: unset;
        }
    }

    &__link {
        color              : black;
        position           : absolute;
        bottom             : 0.5rem;
        right              : 1rem;
        // font-size       : 1rem;
        z-index            : 9;
        transition         : 0.5s ease;
        display            : inline-flex;
        background-color   : white;
        padding            : 2%;
        border-radius      : $circle-border-radius;
        opacity            : 0.8;

        @include mobile {
            bottom   : 0rem;
            right    : 0rem;
            padding  : 0;
            font-size: unset;
        }
    }

    &__img {
        @include project-img;
    }

    &:hover &__overlay {
        bottom: 0;
        height: 100%;
    }

    &:hover &__title,
    &:hover &__link {
        color           : white;
        background-color: initial;
    }

    &:hover &__text {
        opacity: 1;
    }
}

.form {
    &__layout {
        width      : 100%;
        padding-top: 2rem;
    }

    &__label {
        display            : block;
        font-weight        : bold;
        margin-top         : 1rem;
        margin-bottom      : 0.5rem;
        transition-duration: 0.2s;
    }

    &__label:hover {
        transform: scale(120%) translate(5rem, 0);
    }

    &__text {
        display: block;
    }

    &__textarea {
        display      : block;
        resize       : none;
        overflow     : hidden;
        overflow-wrap: break-word;
        width        : 100%;
        font-family  : $font-text;
    }

    &__field {
        display         : block;
        border          : 1px solid black;
        border-radius   : 20px;
        width           : 98%;
        height          : 2.2rem;
        padding-left    : 1rem;
        background-color: white;
        font-family     : $font-text;

        @include mobile {
            width : 92%;
            height: 1.5rem;
        }
    }

    &__btn {
        width: 12rem;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes updown {
    0% {
        transform: translateZ(-20%);
    }

    25% {
        transform: translateY(-2.5%);
    }

    50% {
        transform: translateY(5%);
    }

    75% {
        transform: translateY(-2.5%);
    }

    100% {
        transform: translateZ(-20%);
    }
}

@keyframes leftright {
    0% {
        transform: translateX(-20%);
    }

    25% {
        transform: translateX(-2.5%);
    }

    50% {
        transform: translateX(5%);
    }

    75% {
        transform: translateX(-2.5%);
    }

    100% {
        transform: translateX(-20%);
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}