@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 20px;
  background-color: #eceae4;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  padding: 20px;
  margin: 40px;
}

.main__div {
  width: 95%;
  margin: auto;
}

.main__font {
  font-family: "Bangers", cursive;
}

.nav {
  color: white;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__logo {
  border-radius: 50%;
  max-height: 5rem;
  margin-right: 2rem;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
          box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
}

.nav__logo:hover {
  -webkit-transform: scale(120%) translate(-0.5rem, -0.25rem);
          transform: scale(120%) translate(-0.5rem, -0.25rem);
}

.nav__title {
  text-justify: auto;
  text-align: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.nav__title:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav__ul > li {
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 1.5rem;
  background-color: #4caf50;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
          box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin: 0.25rem 1.25rem 0.25rem 0.15rem;
  cursor: pointer;
}

.nav__ul > li:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 2.5rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin-right: 15px;
}

.nav__cool-border {
  position: relative;
}

.nav__cool-border::after {
  content: "";
  display: block;
  height: 7px;
  background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 45%;
  -webkit-transform: translateX(-50%) skew(-50deg);
          transform: translateX(-50%) skew(-50deg);
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
          box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
}

.portfolio__img {
  max-width: 100%;
  border: 1px solid black;
  margin: auto;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.portfolio__card {
  background-color: white;
  border: 0.2rem solid black;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.portfolio__table {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  border: 1px solid black;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #463e3e;
  color: white;
  padding: 1%;
  margin: auto;
  background: transparent;
  background-color: gray;
}

.footer__link_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.footer__link {
  display: inline-block;
  margin: 10%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__link:hover {
  -webkit-transform: scale(125%);
          transform: scale(125%);
}

.footer__text {
  display: block;
  font-size: 1.5rem;
  margin: auto;
}

.footer__logo {
  margin-right: 10px;
}

.footer__logo-img {
  width: 8%;
  max-width: 3.2rem;
  border-radius: 50%;
  margin-top: 0.62rem;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__logo-img:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.btn {
  font-family: "Bangers", cursive;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
  border: 2px solid black;
  background-color: #4caf50;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
          box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 0.8rem 1.6rem;
  display: inline;
}

.btn:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.btn-portfolio {
  font-family: "Bangers", cursive;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
  border: 2px solid black;
  background-color: #4caf50;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
          box-shadow: 0.3rem 0.3rem 0.3rem 0 #000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  padding: 0 1rem 0 2rem;
}

.btn-portfolio:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.btn-portfolio:hover .arrow-left {
  -webkit-animation: leftright 0.5s;
          animation: leftright 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.text {
  font-family: "Montserrat", sans-serif;
}

.title {
  display: block;
  font-size: 2rem;
  margin: 2rem auto;
}

.bg-img {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/21/17/59/blackboard-1846865_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  max-width: 80%;
  width: auto;
  border-radius: 5%;
  border: 0.6rem solid black;
}

.img:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.avatar {
  max-width: 50%;
}

.avatar:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  cursor: no-drop;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-centered {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-centered p {
  margin: auto;
}

.card-text {
  font-size: 2.5rem;
  margin: 15%;
  text-align: center;
}

.line-bottom {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid black;
}

.slot-space {
  margin: 2% 0;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.margin-auto {
  margin: auto;
}

.animat-transl-right-25 {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.animat-transl-right-25:hover {
  -webkit-transform: translate(25%, 0%);
          transform: translate(25%, 0%);
}

.animat-transl-left-25 {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.animat-transl-left-25:hover {
  -webkit-transform: translate(-25%, 0%);
          transform: translate(-25%, 0%);
}

.arrow-up {
  width: 100%;
  max-width: 50px;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 10px;
}

.arrow-up:hover {
  -webkit-animation: updown 0.5s;
          animation: updown 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.floating {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.arrow-right {
  width: 3rem;
}

.arrow-right:hover {
  -webkit-animation: leftright 0.5s;
          animation: leftright 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.arrow-left {
  width: 3rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.arrow-left:hover {
  -webkit-animation: leftright 0.5s;
          animation: leftright 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.img-link {
  border-radius: 1.5rem;
  padding: 0.1rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.2rem solid black;
  margin: 1rem;
  background-color: white;
}

.gallery {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0.8;
  z-index: 8;
}

.gallery__text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.gallery__title {
  color: black;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  z-index: 9;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: white;
  padding: 0 2%;
  border-radius: 5%;
}

.gallery__link {
  color: black;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  z-index: 9;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: white;
  padding: 2%;
  border-radius: 50%;
  opacity: 0.8;
}

.gallery__img {
  max-width: 100%;
  border: 1px solid black;
  margin: auto;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.gallery:hover .gallery__overlay {
  bottom: 0;
  height: 100%;
}

.gallery:hover .gallery__title,
.gallery:hover .gallery__link {
  color: white;
  background-color: initial;
}

.gallery:hover .gallery__text {
  opacity: 1;
}

.form__layout {
  width: 100%;
  padding-top: 2rem;
}

.form__label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.form__label:hover {
  -webkit-transform: scale(120%) translate(5rem, 0);
          transform: scale(120%) translate(5rem, 0);
}

.form__text {
  display: block;
}

.form__textarea {
  display: block;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.form__field {
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  width: 98%;
  height: 2.2rem;
  padding-left: 1rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.form__btn {
  width: 12rem;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateZ(-20%);
            transform: translateZ(-20%);
  }
  25% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  75% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateZ(-20%);
            transform: translateZ(-20%);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateZ(-20%);
            transform: translateZ(-20%);
  }
  25% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  75% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateZ(-20%);
            transform: translateZ(-20%);
  }
}

@-webkit-keyframes leftright {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  25% {
    -webkit-transform: translateX(-2.5%);
            transform: translateX(-2.5%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  75% {
    -webkit-transform: translateX(-2.5%);
            transform: translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes leftright {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  25% {
    -webkit-transform: translateX(-2.5%);
            transform: translateX(-2.5%);
  }
  50% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  75% {
    -webkit-transform: translateX(-2.5%);
            transform: translateX(-2.5%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
/*# sourceMappingURL=styles.css.map */